
section#game-section {
    width: 500px;
    background-color: blue;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

div#gameBackground {
background-color: #000000b3;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
z-index: -1;
display: block;

}

canvas#gameCanvas {
    width: 480px;
    height:320px;
    background-color: #cec6c6;
    position: relative;
    top:10px;
    display: block;
    margin: auto;
    z-index: 2;
}

div#gameButtonsSec {
    width: 480px;
    height:30px;
    background-color: red;
    position: relative;
    margin: auto;
    top: 20px;
     z-index: 2;
}

button#startButton {
    width: 100px;
    height:30px;
    background-color: grey;
    margin-right: 10px;
     z-index: 3;
}

button#reloadButton {
    width: 100px;
    height:30px;
    background-color: grey;
    margin-left: 10px;
     z-index: 3;
}